dashboard-NodeRed-monitamb-caixa.json
[{"id":"d062f284.58fbd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9728a48a.965e5","type":"ibmiot in","z":"d062f284.58fbd8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev01","applicationId":"","deviceType":"ESP8266","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":170,"y":200,"wires":[["4a6d86b9.48f958","f4eba2a6.6a15b8","5d71bbcd.ce8b14","ffbc5a81.724ce","6c595ca3.d410a4","261c7d28.e733ba"]]},{"id":"4a6d86b9.48f958","type":"debug","z":"d062f284.58fbd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":100,"wires":[]},{"id":"f4eba2a6.6a15b8","type":"change","z":"d062f284.58fbd8","name":"json - temperatura to string","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["1d0ee727.a425e1"]]},{"id":"5d71bbcd.ce8b14","type":"change","z":"d062f284.58fbd8","name":"json - pressão to string","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Pressao","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["7a79635e.a7ac54"]]},{"id":"1d0ee727.a425e1","type":"ui_chart","z":"d062f284.58fbd8","name":"","group":"1fda6310.852145","order":1,"width":0,"height":0,"label":"Gráfico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":140,"wires":[[]]},{"id":"7a79635e.a7ac54","type":"ui_chart","z":"d062f284.58fbd8","name":"","group":"1fda6310.852145","order":2,"width":0,"height":0,"label":"Gráfico de pressão","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":180,"wires":[[]]},{"id":"ffbc5a81.724ce","type":"change","z":"d062f284.58fbd8","name":"json - altitude to string","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Altitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["2e089625.cfa8e2"]]},{"id":"2e089625.cfa8e2","type":"ui_chart","z":"d062f284.58fbd8","name":"","group":"9537fd1b.493538","order":1,"width":0,"height":0,"label":"Gráfico de altitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":220,"wires":[[]]},{"id":"6c595ca3.d410a4","type":"change","z":"d062f284.58fbd8","name":"json - umidade to string","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Altitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":260,"wires":[["13d125a2.352d02"]]},{"id":"13d125a2.352d02","type":"ui_chart","z":"d062f284.58fbd8","name":"","group":"9537fd1b.493538","order":2,"width":0,"height":0,"label":"Gráfico de umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":260,"wires":[[]]},{"id":"14d092c5.a1c0d5","type":"ui_form","z":"d062f284.58fbd8","name":"Dashboard Form","label":"","group":"9537fd1b.493538","order":4,"width":"6","height":"5","options":[{"label":"Intervalo de notificação","value":"segundos","type":"number","required":true}],"formValue":{"segundos":""},"payload":"","submit":"Alterar","cancel":"Cancelar","topic":"","x":200,"y":440,"wires":[["ca764ff1.82ce58"]]},{"id":"bf8bb1c4.021978","type":"ibmiot out","z":"d062f284.58fbd8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"dev01","deviceType":"ESP8266","eventCommandType":"interval","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":470,"wires":[]},{"id":"ca764ff1.82ce58","type":"switch","z":"d062f284.58fbd8","name":"Secs >= 0","property":"payload.segundos","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":440,"wires":[["6acb81a8.513ea"]]},{"id":"6acb81a8.513ea","type":"change","z":"d062f284.58fbd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Intervalo\":msg.payload.segundos}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["bf8bb1c4.021978","97d064b8.8599d8"]]},{"id":"97d064b8.8599d8","type":"debug","z":"d062f284.58fbd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":410,"wires":[]},{"id":"261c7d28.e733ba","type":"function","z":"d062f284.58fbd8","name":"Banco de dados","func":"msg.payload = {\n        time:     new Date().getTime(),\n        temp:     msg.payload.d.temp,\n        Altitude: msg.payload.d.Altitude,\n        Pressao: msg.payload.d.Pressao\n        // Falta umidade\n    };\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["5de84c42.f63cc4"]]},{"id":"5de84c42.f63cc4","type":"cloudant out","z":"d062f284.58fbd8","name":"","cloudant":"","database":"ambiente","service":"testeiott-cloudantNoSQLDB","payonly":true,"operation":"insert","x":580,"y":340,"wires":[]},{"id":"1fda6310.852145","type":"ui_group","z":"","name":"Início","tab":"9cfa6675.498de","disp":true,"width":"6","collapse":false},{"id":"9537fd1b.493538","type":"ui_group","z":"","name":"Dados","tab":"9cfa6675.498de","order":2,"disp":true,"width":"6","collapse":false},{"id":"9cfa6675.498de","type":"ui_tab","z":"","name":"Monitoramento ambiental","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
